.bg-nav-braine {
  background: black;
}
.bg-chat-bruna-init {
  background: #D35482;
  color: white;
}
.bg-chat-bruna {
  background: #cb83a0;
  color: white
}
.bg-chat-client {
  background: #eddada;
  color: black
}
.btn-brain-send {
  background: #D35482;
  border-radius: 20%;
  font-size: 2rem;
  color: white;
  /* padding-right: 20px; */
  width: 60px;                   /* Largura do botão */
  height: 60px;
}